* {
  padding: 0;
  margin: 0;
}

.img {
  border-radius: 5%;
}

.paragraph {
  font-size: 10px;
  color: gray;
}

.btn {
  color: blue;
  padding: 8px;
  border-radius: 100%;
  border:none
}

.btn:hover {
  background: #e0e0e0;
  color:black
}

.btn:focus {
  background: #43a047;
  color: white;
  padding: 8px;
  border-radius: 100%;
  border:none
}
